<!doctype html>
<html lang="zh-tw">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="http://asukademy.com/media/favicon.ico" />

        <title>{% block title %}MEGAMOUNT 百岳國際{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ uri.media }}css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ uri.media }}css/prototype.css" rel="stylesheet">
        <link href="{{ uri.media }}css/cover.css" rel="stylesheet">
        <link href="{{ uri.media }}css/project.css" rel="stylesheet">

        {% block stylesheet %}{% endblock %}

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ uri.media }}js/jquery.js"></script>
        <script src="{{ uri.media }}js/bootstrap.min.js"></script>

        <meta name="description" content="Everything begins from excellence">
        <meta name="generator" content="The Time Machine">

        <meta property="og:image" content="https://cloud.githubusercontent.com/assets/1639206/6701756/0a1c0fb0-cd5c-11e4-9df0-5a4ecb8b2423.png">
        <meta property="og:title" content="MEGAMOUNT 百岳國際">
        <meta property="og:site_name" content="MEGAMOUNT 百岳國際">
        <meta property="og:description" content="Everything begins from excellence">

        {% block script %}{% endblock %}
    </head>
    <body>

    {% block body %}{% endblock %}

    </body>
</html>
